@charset "UTF-8";

body {
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  font-family: Arial, sans-serif;
}

section {
  background-color: rgb(41, 41, 41);
}

.navbar-logo {
  height: 50%;
  max-height: 12px;
  object-fit: contain;
}

button {
  background-color: transparent;
  border-color: transparent;
}

.hero {
  background: url('assets/images/IMG_HDR_SETUP.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.card {
  background-color: transparent;
  border: none;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
}

img,
iframe {
  display: block;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.align-center {
  text-align: center;
}

.mbr-white {
  color: #ffffff;
}

.mbr-black {
  color: #111111;
}

.btn {
  font-weight: 600;
  border-width: 1px;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-lg {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}
.row > [class*=col] {
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 991px) {
  .hero {
    padding: 50px 10px;
  }
}