@font-face {
   font-family: 'Comfortaa-VariableFont_wght';
   font-display: swap;
   src: url('file:///Users/jon/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-03-23_175832/fonts/Comfortaa-VariableFont_wght/font.ttf');
}
